@*@model IEnumerable<TheWorld.Models.Trip>*@

@{
    ViewBag.Title = "HomePage";
}

<div class="row">
    <div class="col-md-12">
        <h1>Welcome to the World</h1>
        <a asp-controller="App" asp-action="trips" class="btn btn-lg btn-success">View my trips</a>
    </div>

</div>